/* GENERAL */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
}

.black {
    color: white;
}

.white {
    color: black;
}

/* HEADER */

header {
    background: url("images/fond.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#header-content {
    width: 100%;
    height: 100vh;
    background: #26262685;
}

#nav-bar {
    color: white;
    display: flex;
    align-self:baseline;
    justify-content: right;
}

#nav-bar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 400px;
    margin-right: 20px;
}

#header-title {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-family: 'Anek Malayalam', sans-serif;
    text-align: center;
}

.gg-menu {
    display: none;
}

@media (min-width: 600px){
    header h1 {
        font-size: 100px;
    }

    #nav-bar li{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        list-style: none;
        margin-top: 25px;
        text-align: center;
    }

    .nav-button:after{
        background: white;
        content: "";
        position: relative;
        display: block;
        height: 2px;
        width: 0%;
        transition: all 0.5s ease;
    }
    
    .nav-button:hover {
        cursor: pointer;
    }

    .nav-button:hover::after {
        width: 100%;
        transition: all 0.5s ease;
    }
}

@media (max-width: 600px) {
    /* ________________  ©css.gg  ____________________ */

    .gg-menu {
        display: block;
        margin-top: 30px;
        margin-left: 25px;
        background: red;
    }
    .gg-menu,
    .gg-menu::after,
    .gg-menu::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background: red;
    }
    .gg-menu::after,
    .gg-menu::before {
        content: "";
        position: absolute;
        top: -9px;
    }
    .gg-menu::after {
        top: 9px;
    }

    /* ____________________________________ */

    #nav-bar {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    #nav-bar ul {
        display: none;
    }

    
    #nav-bar li{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        list-style: none;
        margin-top: 15px;
        text-align: center;
    }

    #header-title {
        display: flex;
        height: 90%;
        align-items: center;
        justify-content: center;
    }

    #header-title h1{
        font-size: 80px;
    }
}

.nav-button a {
    color: white;
}

/* EDUCATION */
#education {
    height: 1000px;
}

#education h2 {
    font-size: 100px;
    margin: 0 auto;
    margin-top: 500px;
}
/* ANIMATIONS */

.rotate {
    animation: rotation ease-in-out 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: initial; 
    animation-iteration-count: 1; 
}

#education .fade-in-animation:has {
    background: green;
}

.hide {
    opacity: 0;
}

@keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1;
    }
}

@keyframes menuPopInAnimation {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 100px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}