/* ################ GENERAL ################ */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 3em;
    padding: 20px 0;
    margin-left: 10%;
}

.black {
    color: white;
}

.white {
    color: black;
    background: #e6e6e6;
}

li {
    list-style: none;
}

.wrapper {
    height: 100%;
}

@media (min-width: 600px){
    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

/* ################ HEADER ################ */

header {
    background: url("images/fond.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#header-content {
    width: 100%;
    height: 100vh;
    background: #26262685;
}

#nav-bar {
    color: white;
    display: flex;
    align-self:baseline;
    justify-content: right;
}

#nav-bar ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 400px;
    margin-right: 20px;
}

#header-title {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-family: 'Anek Malayalam', sans-serif;
    text-align: center;
}

.gg-menu {
    display: none;
}

@media (min-width: 600px){
    header h1 {
        font-size: 100px;
    }

    #nav-bar li{
        font-size: 1.25em;
        margin-top: 25px;
        text-align: center;
    }

    .nav-button:after{
        background: white;
        content: "";
        position: relative;
        display: block;
        height: 2px;
        width: 0%;
        transition: all 0.5s ease;
    }
    
    .nav-button:hover {
        cursor: pointer;
    }

    .nav-button:hover::after {
        width: 100%;
        transition: all 0.5s ease;
    }
}

@media (max-width: 600px) {
    /* ___________ ©css.gg _______________ */

    .gg-menu {
        display: block;
        margin-top: 25px;
        margin-left: 25px;
        background: white;
    }
    .gg-menu,
    .gg-menu::after,
    .gg-menu::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background: white;
    }
    .gg-menu::after,
    .gg-menu::before {
        content: "";
        position: absolute;
        top: -9px;
    }
    .gg-menu::after {
        top: 9px;
    }

    /* ____________________________________ */

    #nav-bar {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
    }

    #nav-bar ul {
        /* display: none; */
        background-color: rgba(30, 30, 30, 0.799);
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        width: 100%;
    }

    #nav-bar li{
        margin-top: 15px;
        text-align: center;
        height: 0px;
        margin-top: 0px;
    }

    .nav-button a {
        font-size: 1.4em;
        opacity: 0;
    }

    #header-title {
        display: flex;
        height: 90%;
        align-items: center;
        justify-content: center;
    }

    #header-title h1{
        font-size: 5em;
    }
}

.nav-button a {
    color: white;
}

/* ################ EDUCATION ################ */

#education {
    height: 800px;
}

#education-list {
    min-width: 600px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#education li {
    border-radius: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 15px 0;
}

#education-list h3 {
    align-self: center;
    justify-content: flex-start;
    padding-top: 10px;
}

#education-list p {
    margin-top: 10px;
    padding-bottom: 10px;
    align-self: center;
}

@media (min-width: 900px) {
    #education li:nth-child(2n){
        border-top-left-radius: 0px;
        align-self: flex-end;
    }
    
    #education li:nth-child(2n+1){
        border-top-right-radius: 0px;
        align-self: flex-start;
    }

    #education li::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 100px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        background: black;
    }

    #education li:last-child::before {
        background: linear-gradient(black, black 50%, rgba(0, 0, 0, 0));
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    #education li::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        border-radius: 100%;
    }
}

@media (max-width: 900px) {
    #education li {
        border-top-right-radius: 0px;
    }
}

/* ################ FOOTER ################ */

footer {
    background: #3d3d3d;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 150px;
}

footer h2 {
    color: #666666;
    font-size: 1em;
    margin: auto 0;
}

@media (max-width: 600px) {
    footer {
        background: #3d3d3d;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100px;
    }
    
    footer h2 {
        color: #666666;
        font-size: 1em;
        margin: auto 0;
    }
}


/* ################ ANIMATIONS ################ */

.menu-pop-in-li {
    animation: nav-pop-in ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}

.menu-pop-out-li {
    animation: nav-pop-out ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}

.rotate-menu-f {
    animation: rotation-0-90 ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.rotate-menu-b {
    animation: rotation-90-0 ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.fade-out {
    animation: fadeOutAnimation ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.fade-in-menu-a {
    animation: fadeInAnimationMenuA ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.fade-out-menu-a {
    animation: fadeOutAnimationMenuA ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.hide {
    opacity: 0;
}

.slideInH1Title {
    animation: slideInH1Title ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

.slideOutH1Title {
    animation: slideOutH1Title ease 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
}

@keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1;
    }
}

@keyframes fadeOutAnimation { 
    0% { 
    opacity: 1; 
    } 
    100% { 
    opacity: 0;
    }
}

@keyframes menuPopInAnimation {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 100px;
    }
}

@keyframes rotation-0-90 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes rotation-90-0 {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes nav-pop-in {
    from {
        height: 0px;
        margin-top: 0px;
    }

    to {
        margin-top: 15px;
        height: 25px;
    }
}

@keyframes nav-pop-out {
    from {
        height: 25px;
        margin-top: 15px;
    }

    to {
        margin-top: 0px;
        height: 0px;
    }
}

@keyframes fadeInAnimationMenuA { 
    0% { 
    opacity: 0; 
    }

    50% {
        opacity: 0;
    }

    100% { 
    opacity: 1;
    }
}

@keyframes fadeOutAnimationMenuA { 
    0% { 
    opacity: 1; 
    } 
    
    25% {
        opacity: 0;
    }

    100% { 
    opacity: 0;
    }
}

@keyframes slideInH1Title {
    from {
        height: 90%;
    }

    to {
        height: 70%;
    }
}

@keyframes slideOutH1Title {
    from {
        height: 70%;
    }

    to {
        height: 90%;
    }
}